<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login app</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
    {{!-- <div class="container"> --}}
      <div class="header clearfix">
        <nav class="teal">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="users/logout">Logout</a></li>
            </ul>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="users/logout">Logout</a></li>
        </ul>
      </div>
    <div class="container">
      <div class="row">
        <div class="col s12 l8 offset-l2">
              {{{ body }}}
        </div>
      </div>
    </div> <!-- /container -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
     </script>
</body>
</html>