<h1>Register</h1>
{{#if error_msg}}
    <div>This email has taken already</div>
{{/if}}
<form id="registerForm" method="post" action="/users/register">
    <div class="input-field">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="validate">
    </div>
    <div class="input-field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
    </div>
    <div class="input-field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div class="input-field">
        <label for="password2">Confirm password</label>
        <input type="password" id="password2" name="password2">
    </div>
    <div class="input-field">
        <div class="g-recaptcha" data-sitekey="6LfcyFYUAAAAAAaACT2u1hVVHe0JoTctmaJlvGUQ"></div>
    </div>
</form>
<button id="submitUser" class="btn waves-effect waves-light">Submit</button>